*{
 padding:0px;
margin:0px
}

body{
width:100%
}
.header{
background:blue;
overflow:hidden;
padding:5px;
}
.menu{
padding:20px;
}
#list1{
float:left
}
#list2{
float:right
}
ul{
list-style-type:none
}



ul{
list-style-type:none
}

.content{
  width:100%;
  background:black;
  text-align:left;
}
.aside{
  width:30%;
background:lightblue;
float:left;
height:480px;
font-size:40px;
}
.aside ul li:hover{
background:blue;
color:white;
border:3px solid black;
}
a {
text-decoration:none;
}
.para{
width:70%;
float:left;
background:orange;
}
.para p{
padding:20px;
font-size:20px;
font-family:"timesnew-roman";
}
h1 {
text-align:left;
padding:40px;
}
.footer{
background-color:blue;
color:white;
font-size:20px;
text-align:center;
padding:60px;
}